*{
    margin: 0;
    padding: 0;
    list-style: none;
}
html{
    background: #232222;
}

.app{
    max-width: 53rem;
    margin:20px auto;
}
h1{
    font-size: 2.7rem;
    margin-bottom: 20px;
    background: rgb(52, 214, 232);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.search-section{
    text-align: center;
}
.search-section input{
   margin: 20px 0;
   width: 25rem;
   height: 40px;
   border-radius: 10px;
   font-size:x-large;
   padding: 5px 5px;
}
.search-section .btn{
    margin: 5px;
    padding: 8px 20px;
    font-size: larger;
    background: #000;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: linear-gradient(to bottom right , rgb(71, 155, 161) , rgb(86, 76, 163));
    padding: 10px;
    border-radius: 10px;
}
.card img{
    border-radius: 10px;
}
.card ul{
    
}
.card ul li{
    font-size: 1.8rem;
    margin: 10px 5px;
    color: white;
    font-weight: 600;
}